<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en-US</string>

        <key>CFBundleDisplayName</key>
        <string>VPaint</string>

        <key>CFBundleDocumentTypes</key>
        <array>
                <dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>vec</string>
                        </array>

                        <key>CFBundleTypeIconFile</key>
                        <string>vec.icns</string>

                        <key>CFBundleTypeName</key>
                        <string>VPaint File</string>

                        <key>CFBundleTypeRole</key>
                        <string>Editor</string>

                        <key>LSItemContentTypes</key>
                        <array>
                            <string>org.vpaint.vec</string>
                        </array>

                        <key>LSHandlerRank</key>
                        <string>Owner</string>
                </dict>
        </array>

        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>

        <key>CFBundleIconFile</key>
        <string>@ICON@</string>

        <key>CFBundleIdentifier</key>
        <string>org.vpaint.VPaint</string>

        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>

        <key>CFBundleName</key>
        <string>VPaint</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleShortVersionString</key>
        <string>@SHORT_VERSION@</string>

        <key>CFBundleSignature</key>
        <string>@TYPEINFO@</string>

        <key>CFBundleVersion</key>
        <string>@FULL_VERSION@</string>

        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.vpaint.vec</string>

                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>vec</string>
                    </array>
                </dict>

                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.xml</string>
                </array>

                <key>UTTypeIconFile</key>
                <string>vec.icns</string>

                <key>UTTypeDescription</key>
                <string>VPaint File</string>

                <key>UTTypeReferenceUrl</key>
                <string>https://github.com/dalboris/vpaint/wiki/.vec-File-Format</string>
            </dict>
        </array>
</dict>
</plist>
